In [11]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
alpha_df = pd.read_csv("./Resources/charity_data.csv")
alpha_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.8.0-cp38-cp38-win_amd64.whl (438.0 MB)
Collecting absl-py>=0.4.0
  Downloading absl_py-1.0.0-py3-none-any.whl (126 kB)
Requirement already satisfied: h5py>=2.9.0 in c:\users\rajee\anaconda3\lib\site-packages (from tensorflow) (2.10.0)
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Collecting libclang>=9.0.1
  Downloading libclang-13.0.0-py2.py3-none-win_amd64.whl (13.9 MB)
Collecting protobuf>=3.9.2
  Downloading protobuf-3.19.4-cp38-cp38-win_amd64.whl (895 kB)
Collecting flatbuffers>=1.12
  Downloading flatbuffers-2.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: setuptools in c:\users\rajee\anaconda3\lib\site-packages (from tensorflow) (52.0.0.post20210125)
Collecting termcolor>=1.1.0
  Downloading termcolor-1.1.0.tar.gz (3.9 kB)
Collecting gast>=0.2.1
  Downloading gast-0.5.3-py3-none-any.whl (19 kB)
Collecting tensorflow-io-gcs-filesystem>=0.23.1
  Downloading tensorflow_io_gcs_filesystem-0.24.0-cp38-cp38-win_amd64.whl (1.5 MB)
Collecting tensorboard<2.9,>=2.8
  Downloading tensorboard-2.8.0-py3-none-any.whl (5.8 MB)
Requirement already satisfied: numpy>=1.20 in c:\users\rajee\anaconda3\lib\site-packages (from tensorflow) (1.20.1)
Collecting keras-preprocessing>=1.1.1
  Downloading Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
Collecting grpcio<2.0,>=1.24.3
  Downloading grpcio-1.44.0-cp38-cp38-win_amd64.whl (3.4 MB)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\rajee\anaconda3\lib\site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: six>=1.12.0 in c:\users\rajee\anaconda3\lib\site-packages (from tensorflow) (1.15.0)
Collecting google-pasta>=0.1.1
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\rajee\anaconda3\lib\site-packages (from tensorflow) (3.7.4.3)
Collecting tf-estimator-nightly==2.8.0.dev2021122109
  Downloading tf_estimator_nightly-2.8.0.dev2021122109-py2.py3-none-any.whl (462 kB)
Collecting keras<2.9,>=2.8.0rc0
  Downloading keras-2.8.0-py2.py3-none-any.whl (1.4 MB)
Collecting astunparse>=1.6.0
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\rajee\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.36.2)
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.8.1-py3-none-any.whl (781 kB)
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Downloading tensorboard_data_server-0.6.1-py3-none-any.whl (2.4 kB)
Collecting google-auth<3,>=1.6.3
  Downloading google_auth-2.6.0-py2.py3-none-any.whl (156 kB)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\rajee\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.25.1)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\rajee\anaconda3\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.0.1)
Collecting markdown>=2.6.8
  Downloading Markdown-3.3.6-py3-none-any.whl (97 kB)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Collecting cachetools<6.0,>=2.0.0
  Downloading cachetools-5.0.0-py3-none-any.whl (9.1 kB)
Collecting rsa<5,>=3.1.4
  Downloading rsa-4.8-py3-none-any.whl (39 kB)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\rajee\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (1.3.0)
Collecting importlib-metadata>=4.4
  Downloading importlib_metadata-4.11.1-py3-none-any.whl (17 kB)
Requirement already satisfied: zipp>=0.5 in c:\users\rajee\anaconda3\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (3.4.1)
Collecting pyasn1<0.5.0,>=0.4.6
  Downloading pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Requirement already satisfied: idna<3,>=2.5 in c:\users\rajee\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\rajee\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rajee\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rajee\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.26.4)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\rajee\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (3.1.1)
Building wheels for collected packages: termcolor
  Building wheel for termcolor (setup.py): started
  Building wheel for termcolor (setup.py): finished with status 'done'
  Created wheel for termcolor: filename=termcolor-1.1.0-py3-none-any.whl size=4829 sha256=469021a2ac7b8e5d0459817af3dec8ebdc48a907f37e4039993b6bbd6f8d6bc7
  Stored in directory: c:\users\rajee\appdata\local\pip\cache\wheels\a0\16\9c\5473df82468f958445479c59e784896fa24f4a5fc024b0f501
Successfully built termcolor
Installing collected packages: pyasn1, rsa, pyasn1-modules, cachetools, importlib-metadata, google-auth, tensorboard-plugin-wit, tensorboard-data-server, protobuf, markdown, grpcio, google-auth-oauthlib, absl-py, tf-estimator-nightly, termcolor, tensorflow-io-gcs-filesystem, tensorboard, opt-einsum, libclang, keras-preprocessing, keras, google-pasta, gast, flatbuffers, astunparse, tensorflow
  Attempting uninstall: importlib-metadata
    Found existing installation: importlib-metadata 3.10.0
    Uninstalling importlib-metadata-3.10.0:
      Successfully uninstalled importlib-metadata-3.10.0
Successfully installed absl-py-1.0.0 astunparse-1.6.3 cachetools-5.0.0 flatbuffers-2.0 gast-0.5.3 google-auth-2.6.0 google-auth-oauthlib-0.4.6 google-pasta-0.2.0 grpcio-1.44.0 importlib-metadata-4.11.1 keras-2.8.0 keras-preprocessing-1.1.2 libclang-13.0.0 markdown-3.3.6 opt-einsum-3.3.0 protobuf-3.19.4 pyasn1-0.4.8 pyasn1-modules-0.2.8 rsa-4.8 tensorboard-2.8.0 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.1 tensorflow-2.8.0 tensorflow-io-gcs-filesystem-0.24.0 termcolor-1.1.0 tf-estimator-nightly-2.8.0.dev2021122109
Note: you may need to restart the kernel to use updated packages.

In [12]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
alpha_df = alpha_df.drop(['EIN', 'NAME'], axis=1)
alpha_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [13]:
# Determine the number of unique values in each column.
alpha_df.nunique(axis=0)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [14]:
# Look at APPLICATION_TYPE value counts for binning
alpha_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [15]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T25','T14','T15','T29','T17','T2','T12','T13','T9']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Look at CLASSIFICATION value counts for binning
alpha_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [20]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts() >1

C1000    True
C2000    True
C1200    True
C3000    True
C2100    True
Other    True
C7000    True
Name: CLASSIFICATION, dtype: bool

In [21]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C5000','C4000','C1700','C7100','C2800','C2700','C1270','C7200','C6000', 'C1238', 'C7120', 'C1800', 'C4100', 'C1400', 'C2300','C8200', 'C1500', 'C7210', 'C1300', 'C1230', 'C1280', 'C1240','C2710', 'C2561', 'C1250', 'C8000', 'C1245', 'C1260', 'C1235','C1720', 'C1257', 'C4500', 'C2400', 'C8210', 'C1600', 'C1278','C1237', 'C4120', 'C2170', 'C1728', 'C1732', 'C2380', 'C1283','C1570', 'C2500', 'C1267', 'C3700', 'C1580', 'C2570', 'C1256','C1236', 'C1234', 'C1246', 'C2190', 'C4200']

# Replace in dataframe
for cls in classifications_to_replace:
    alpha_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
alpha_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [24]:
# Convert categorical data to numeric with `pd.get_dummies`
alpha_dummies = pd.get_dummies(alpha_df)
alpha_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [26]:
# Split our preprocessed data into our features and target arrays
y = alpha_dummies['IS_SUCCESSFUL']
X = alpha_dummies.drop(['IS_SUCCESSFUL'],axis=1)
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=50)

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Compile, Train and Evaluate the Model

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 20
hidden_nodes_layer3= 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=num_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                530

 dense_1 (Dense)             (None, 20)                220

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 771
Trainable params: 771
Non-trainable params: 0
_________________________________________________________________

In [30]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [31]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 722us/step - loss: 0.6011 - accuracy: 0.6958
Epoch 2/100
804/804 [==============================] - 1s 713us/step - loss: 0.5638 - accuracy: 0.7229
Epoch 3/100
804/804 [==============================] - 1s 713us/step - loss: 0.5591 - accuracy: 0.7244
Epoch 4/100
804/804 [==============================] - 1s 713us/step - loss: 0.5565 - accuracy: 0.7262
Epoch 5/100
804/804 [==============================] - 1s 700us/step - loss: 0.5552 - accuracy: 0.7259
Epoch 6/100
804/804 [==============================] - 1s 725us/step - loss: 0.5539 - accuracy: 0.7262
Epoch 7/100
804/804 [==============================] - 1s 705us/step - loss: 0.5529 - accuracy: 0.7262
Epoch 8/100
804/804 [==============================] - 1s 696us/step - loss: 0.5523 - accuracy: 0.7275
Epoch 9/100
804/804 [==============================] - 1s 731us/step - loss: 0.5519 - accuracy: 0.7273
Epoch 10/100
804/804 [==============================] - 1s 718us/step - loss: 0.5514 - accuracy: 0.7279
Epoch 11/100
804/804 [==============================] - 1s 722us/step - loss: 0.5511 - accuracy: 0.7287
Epoch 12/100
804/804 [==============================] - 1s 733us/step - loss: 0.5505 - accuracy: 0.7287
Epoch 13/100
804/804 [==============================] - 1s 739us/step - loss: 0.5502 - accuracy: 0.7294
Epoch 14/100
804/804 [==============================] - 1s 822us/step - loss: 0.5503 - accuracy: 0.7298
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5501 - accuracy: 0.7298
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7290
Epoch 17/100
804/804 [==============================] - 1s 885us/step - loss: 0.5493 - accuracy: 0.7289
Epoch 18/100
804/804 [==============================] - 1s 879us/step - loss: 0.5493 - accuracy: 0.7293
Epoch 19/100
804/804 [==============================] - 1s 697us/step - loss: 0.5490 - accuracy: 0.7298
Epoch 20/100
804/804 [==============================] - 1s 742us/step - loss: 0.5487 - accuracy: 0.7303
Epoch 21/100
804/804 [==============================] - 1s 706us/step - loss: 0.5485 - accuracy: 0.7294
Epoch 22/100
804/804 [==============================] - 1s 700us/step - loss: 0.5482 - accuracy: 0.7308
Epoch 23/100
804/804 [==============================] - 1s 684us/step - loss: 0.5481 - accuracy: 0.7300
Epoch 24/100
804/804 [==============================] - 1s 691us/step - loss: 0.5481 - accuracy: 0.7304
Epoch 25/100
804/804 [==============================] - 1s 697us/step - loss: 0.5479 - accuracy: 0.7305
Epoch 26/100
804/804 [==============================] - 1s 701us/step - loss: 0.5477 - accuracy: 0.7301
Epoch 27/100
804/804 [==============================] - 1s 699us/step - loss: 0.5477 - accuracy: 0.7309
Epoch 28/100
804/804 [==============================] - 1s 708us/step - loss: 0.5472 - accuracy: 0.7310
Epoch 29/100
804/804 [==============================] - 1s 693us/step - loss: 0.5475 - accuracy: 0.7318
Epoch 30/100
804/804 [==============================] - 1s 689us/step - loss: 0.5476 - accuracy: 0.7301
Epoch 31/100
804/804 [==============================] - 1s 709us/step - loss: 0.5471 - accuracy: 0.7320
Epoch 32/100
804/804 [==============================] - 1s 696us/step - loss: 0.5469 - accuracy: 0.7310
Epoch 33/100
804/804 [==============================] - 1s 761us/step - loss: 0.5470 - accuracy: 0.7306
Epoch 34/100
804/804 [==============================] - 1s 699us/step - loss: 0.5469 - accuracy: 0.7313
Epoch 35/100
804/804 [==============================] - 1s 693us/step - loss: 0.5468 - accuracy: 0.7315
Epoch 36/100
804/804 [==============================] - 1s 696us/step - loss: 0.5472 - accuracy: 0.7311
Epoch 37/100
804/804 [==============================] - 1s 695us/step - loss: 0.5467 - accuracy: 0.7312
Epoch 38/100
804/804 [==============================] - 1s 697us/step - loss: 0.5466 - accuracy: 0.7326
Epoch 39/100
804/804 [==============================] - 1s 698us/step - loss: 0.5463 - accuracy: 0.7322
Epoch 40/100
804/804 [==============================] - 1s 695us/step - loss: 0.5466 - accuracy: 0.7319
Epoch 41/100
804/804 [==============================] - 1s 694us/step - loss: 0.5465 - accuracy: 0.7331
Epoch 42/100
804/804 [==============================] - 1s 702us/step - loss: 0.5458 - accuracy: 0.7321
Epoch 43/100
804/804 [==============================] - 1s 699us/step - loss: 0.5460 - accuracy: 0.7332
Epoch 44/100
804/804 [==============================] - 1s 719us/step - loss: 0.5459 - accuracy: 0.7321
Epoch 45/100
804/804 [==============================] - 1s 703us/step - loss: 0.5462 - accuracy: 0.7312
Epoch 46/100
804/804 [==============================] - 1s 689us/step - loss: 0.5458 - accuracy: 0.7317
Epoch 47/100
804/804 [==============================] - 1s 701us/step - loss: 0.5457 - accuracy: 0.7323
Epoch 48/100
804/804 [==============================] - 1s 696us/step - loss: 0.5457 - accuracy: 0.7325
Epoch 49/100
804/804 [==============================] - 1s 725us/step - loss: 0.5455 - accuracy: 0.7322
Epoch 50/100
804/804 [==============================] - 1s 719us/step - loss: 0.5455 - accuracy: 0.7325
Epoch 51/100
804/804 [==============================] - 1s 719us/step - loss: 0.5453 - accuracy: 0.7325
Epoch 52/100
804/804 [==============================] - 1s 842us/step - loss: 0.5454 - accuracy: 0.7311
Epoch 53/100
804/804 [==============================] - 1s 712us/step - loss: 0.5453 - accuracy: 0.7318
Epoch 54/100
804/804 [==============================] - 1s 706us/step - loss: 0.5449 - accuracy: 0.7322
Epoch 55/100
804/804 [==============================] - 1s 691us/step - loss: 0.5452 - accuracy: 0.7324
Epoch 56/100
804/804 [==============================] - 1s 711us/step - loss: 0.5450 - accuracy: 0.7324
Epoch 57/100
804/804 [==============================] - 1s 717us/step - loss: 0.5450 - accuracy: 0.7325
Epoch 58/100
804/804 [==============================] - 1s 727us/step - loss: 0.5447 - accuracy: 0.7327
Epoch 59/100
804/804 [==============================] - 1s 718us/step - loss: 0.5450 - accuracy: 0.7329
Epoch 60/100
804/804 [==============================] - 1s 723us/step - loss: 0.5449 - accuracy: 0.7334
Epoch 61/100
804/804 [==============================] - 1s 716us/step - loss: 0.5449 - accuracy: 0.7327
Epoch 62/100
804/804 [==============================] - 1s 735us/step - loss: 0.5448 - accuracy: 0.7329
Epoch 63/100
804/804 [==============================] - 1s 711us/step - loss: 0.5448 - accuracy: 0.7332
Epoch 64/100
804/804 [==============================] - 1s 695us/step - loss: 0.5445 - accuracy: 0.7324
Epoch 65/100
804/804 [==============================] - 1s 693us/step - loss: 0.5444 - accuracy: 0.7338
Epoch 66/100
804/804 [==============================] - 1s 687us/step - loss: 0.5443 - accuracy: 0.7336
Epoch 67/100
804/804 [==============================] - 1s 694us/step - loss: 0.5445 - accuracy: 0.7331
Epoch 68/100
804/804 [==============================] - 1s 688us/step - loss: 0.5442 - accuracy: 0.7329
Epoch 69/100
804/804 [==============================] - 1s 693us/step - loss: 0.5440 - accuracy: 0.7329
Epoch 70/100
804/804 [==============================] - 1s 690us/step - loss: 0.5439 - accuracy: 0.7334
Epoch 71/100
804/804 [==============================] - 1s 704us/step - loss: 0.5444 - accuracy: 0.7339
Epoch 72/100
804/804 [==============================] - 1s 698us/step - loss: 0.5439 - accuracy: 0.7336
Epoch 73/100
804/804 [==============================] - 1s 716us/step - loss: 0.5442 - accuracy: 0.7336
Epoch 74/100
804/804 [==============================] - 1s 703us/step - loss: 0.5439 - accuracy: 0.7333
Epoch 75/100
804/804 [==============================] - 1s 714us/step - loss: 0.5438 - accuracy: 0.7327
Epoch 76/100
804/804 [==============================] - 1s 743us/step - loss: 0.5440 - accuracy: 0.7341
Epoch 77/100
804/804 [==============================] - 1s 806us/step - loss: 0.5440 - accuracy: 0.7330
Epoch 78/100
804/804 [==============================] - 1s 855us/step - loss: 0.5437 - accuracy: 0.7334
Epoch 79/100

804/804 [==============================] - 1s 795us/step - loss: 0.5437 - accuracy: 0.7342
Epoch 80/100
804/804 [==============================] - 1s 830us/step - loss: 0.5439 - accuracy: 0.7333
Epoch 81/100
804/804 [==============================] - 1s 810us/step - loss: 0.5436 - accuracy: 0.7334
Epoch 82/100
804/804 [==============================] - 1s 858us/step - loss: 0.5436 - accuracy: 0.7340
Epoch 83/100
804/804 [==============================] - 1s 856us/step - loss: 0.5435 - accuracy: 0.7345
Epoch 84/100
804/804 [==============================] - 1s 814us/step - loss: 0.5437 - accuracy: 0.7336
Epoch 85/100
804/804 [==============================] - 1s 796us/step - loss: 0.5433 - accuracy: 0.7333
Epoch 86/100
804/804 [==============================] - 1s 793us/step - loss: 0.5436 - accuracy: 0.7344
Epoch 87/100
804/804 [==============================] - 1s 833us/step - loss: 0.5434 - accuracy: 0.7338
Epoch 88/100
804/804 [==============================] - 1s 797us/step - loss: 0.5434 - accuracy: 0.7341
Epoch 89/100
804/804 [==============================] - 1s 823us/step - loss: 0.5432 - accuracy: 0.7331
Epoch 90/100
804/804 [==============================] - 1s 790us/step - loss: 0.5435 - accuracy: 0.7342
Epoch 91/100
804/804 [==============================] - 1s 790us/step - loss: 0.5434 - accuracy: 0.7337
Epoch 92/100
804/804 [==============================] - 1s 773us/step - loss: 0.5429 - accuracy: 0.7340
Epoch 93/100
804/804 [==============================] - 1s 768us/step - loss: 0.5433 - accuracy: 0.7333
Epoch 94/100
804/804 [==============================] - 1s 765us/step - loss: 0.5431 - accuracy: 0.7343
Epoch 95/100
804/804 [==============================] - 1s 785us/step - loss: 0.5431 - accuracy: 0.7340
Epoch 96/100
804/804 [==============================] - 1s 772us/step - loss: 0.5429 - accuracy: 0.7351
Epoch 97/100
804/804 [==============================] - 1s 775us/step - loss: 0.5433 - accuracy: 0.7348
Epoch 98/100
804/804 [==============================] - 1s 803us/step - loss: 0.5429 - accuracy: 0.7339
Epoch 99/100
804/804 [==============================] - 1s 782us/step - loss: 0.5431 - accuracy: 0.7341
Epoch 100/100
804/804 [==============================] - 1s 768us/step - loss: 0.5429 - accuracy: 0.7342

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5415 - accuracy: 0.7383 - 287ms/epoch - 1ms/step
Loss: 0.541546642780304, Accuracy: 0.7383090257644653